* {
    margin: 0;
    padding: 0;
}
details * {
    margin: 0;
}

#instruction {
    display: flex;
    text-align: center;
}
.inst {
    background-color: rgba(240, 248, 255, 0.3);
    border-radius: 20px;
}
#instruction :last-child {
    display: block;
}

#class {
    /*width: 47.5px;*/
}

#title {
    text-align: center;
    font-size: 3.3em;
    padding-top: 1%;
    padding-bottom: 0.35%;
}

#fact {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

html, body {
    height: 100%;
}
body {
    background: no-repeat linear-gradient(
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
      ), url('../imgs/bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
}

#fact {
    color: black;
    font-size: 1.12em;
    overflow-wrap: normal;
    word-break: break-word;
    max-width: 75%;
    min-height: 9vh;
    background: rgba(240, 248, 255, 0.6);
    border-radius: 0 10px 10px 0;
}
#nextFact {
    font-size: 1.15em;
}

#form {
    display: flex;
    gap: 6px;
    flex-flow: column wrap;
    justify-content: center;
}

#btns {
    display: flex;
    gap: 6px;
    flex-flow: row wrap;
    justify-content: center;
}

#startBtn {
    background: greenyellow;
    border: 0;
}
#startBtn:active {
    background: green;
}
#startBtn:hover, #instBtn:hover {
    cursor: pointer;
}

#instBtn {
    background: lightblue;
    border: 0;
}
#instBtn:active {
    background: cadetblue;
}

@media all and (max-width: 1000px) {
    #container {
        margin: 0;
    }
    #title {
        font-size: 2.2em;
    }
    #fact {
        max-width: 100%;
        border-radius: 0;
        font-size: 1em;
    }
}