@font-face {
    font-family: 'Panton';
    src: url('panton-narrow-semi-bold.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('panton-narrow-semi-bold-italic.otf');
    font-style: italic;
}